<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">


<label>Team Name: <input type="text" name="team[name]"></label><br/>
<label>Team Motto: <input type="text" name="team[motto]"></label><br/>

<h2>Hero 1</h2>
<label>Hero's Name: <input type="text" name="team[members][][name]"></label><br/>
<label>Hero's Power: <input type="text" name="team[members][][power]"></label><br/>
<label>Hero's Biography: <input type="text" name="team[members][][bio]"></label><br/>

<h2>Hero 2</h2>
<label>Hero's Name: <input type="text" name="team[members][][name]"></label><br/>
<label>Hero's Power: <input type="text" name="team[members][][power]"></label><br/>
<label>Hero's Biography: <input type="text" name="team[members][][bio]"></label><br/>

<h2>Hero 3</h2>
<label>Hero's Name: <input type="text" name="team[members][][name]"></label><br/>
<label>Hero's Power: <input type="text" name="team[members][][power]"></label><br/>
<label>Hero's Biography: <input type="text" name="team[members][][bio]"></label><br/>

<input type="submit" id="submit" value="Submit">
</form>
